
body,.main2{
    margin: 0px;
    padding: 0px;
}

.nav1{
    color: aquamarine;
    background-color: black;
    text-align: center;
    padding: 15px 0px;
    margin: 0px;
    
}
.nav1 span{
    padding-top: 5px;}
.logo{
    position: relative;
    padding: 0px 25px;
}
ul{
    margin: 0px;
}
.category{
    display: flex;

}
.services ul{
    display: flex;
    justify-content: flex-end;
    list-style: none;

}

.services ul li{
    padding: 10px;
}
.category ul{
    flex: 33%;
    display: flex;
    list-style: none;
    background-color: rgb(255, 255, 255);
    /* align-items: flex-end; */

}

.category ul li{
    padding: 10px;
}
.symp1{
    position: absolute;
    top: 10px;

}
.symp1 img{
    width: 80px;
    height: 60px;
}

.navbar li input{
    height: 25px;
    

}

































.nav3{
    background-color: rgb(253, 239, 213);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}




.firstimg{ display: flex;
            width: 100%;
            justify-content: center;
            align-items: center;
            background-size: cover;
            position: relative
            }
            .firstmain{
                background-color:rgb(0, 0, 0);
                color: aquamarine;
                margin-left: 30px;
            }
 .firstimg img{width: 100%;}
.firstimgh1{
    background-color: rgb(0, 0, 0);
    position: absolute;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    justify-content: last baseline;
    bottom: 15%;
    color: white;
   
}
.firstimgh2{
    background-color: rgb(0, 0, 0);
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: last baseline;
    bottom: 12%;
    color: white;
   
}
.firstbutton{
    border: 1px solid black;
}
.firstbutton input{
    padding: 7px;
    
    background-color: rgb(0, 0, 0);
    position: absolute;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    justify-content: last baseline;
    bottom: 9%;
    color: white;
    
    
}
.model{display: flex;
    justify-content: space-between;

    height: 75px;
    /* justify-content: center; */
    padding-top: 20px;
}
.models{
    
    display: flex;
    position:relative;
    margin-left: 50px;
    gap: 20px;
    height: 30px;
    align-items: center;
    /* justify-content: center; */
 
}
.models .t-toe{
    background-color: black;
    color: white;
    font-family: system-ui;
    border:  0.5px solid black;
    padding: 10px;

}
.models button{background-color: white;
    font-family: system-ui;
border: 0.5px solid black;
padding: 10px;}

.shopnow{ 
    
    padding-right: 30px;

}

.shoerack{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
    /* grid-template-rows: 1fr 1fr 1fr 1fr; */
    background-color: rgb(255, 255, 255);
    height: 350px;
    padding: 25px 40px;
    /* margin-bottom: 30px; */
    gap: 10px;
    overflow-x: scroll;
    overflow-y: hidden;
}

.shoerack .item1{
    background-image: url("img/GAZELLE_BOLD_SHOES_Blue_IE0430_01_standard.jpg");
    background-size: cover;
    object-fit: contain;
    position: relative;
    
}
.shoerack div{
    width: 300px;
}
.shoerack img{
    width: 100%;
}
.shoerack .item2{
    background-image: url("img/Gazelle_Shoes_Black_CQ2809_01_standard\ \(1\).jpg");
    background-size: cover;
    object-fit: cover;
    position: relative;
    
}
.shoerack .item3{
    background-image: url("img/Samba_OG_Shoes_Black_B75807_01_standard.jpg");
    background-size: cover;
    object-fit: cover;
    position: relative;
}
.shoerack .item4{
    background-image: url("img/Samba_OG_Shoes_White_B75806_01_standard.jpg");
    background-size: cover;
    object-fit: cover;
    position: relative;
    
}
.shoerack .item5{
    background-image: url("img/Gazelle_Indoor_Shoes_Red_IE2946_01_standard.jpg");
    background-size: cover;
    object-fit: cover;
    position: relative;
    
}
.shoerack .item6{
    background-image: url("img/3.jpg");
    background-size: cover;
    object-fit: cover;
    position: relative;
    
}
.shoerack .item7{
    background-image: url("img/GAZELLE_BOLD_SHOES_Yellow_IF5937_01_standard.jpg");
    background-size: cover;
    object-fit: cover;
    position: relative;
    
}
.shoerack .rate{
   
    background-color: azure;
    position:absolute;
    top: 300px;
    left: 10px;
    padding: 5px;
    width: fit-content;

    /* padding-left: 3%; */
    /* padding-left: 80%; */
 
}
.shoename{
    color: black;
    background-color: azure;
    position:absolute;
    top: 500px;
    left: 10px;
    padding: 5px;
    width: fit-content;
}

.shoerack .item8{
    background-image: url("img/13.jpg");
    background-size: cover;
    object-fit: cover;
    position: relative;
    
}
.shoerack .item9{
    background-image: url("img/bb.jpg");
    background-size: cover;
    object-fit: cover;
    position: relative;
    
}
.shoerack .item10{
    background-image: url("img/cc.jpg");
    background-size: cover;
    object-fit: cover;
    position: relative;
    
}
.shoerack .item11{
    background-image: url("img/11.jpg");
    background-size: cover;
    object-fit: cover;
    position: relative;
    
}
.shoerack .item12{
    background-image: url("img/bb.jpg");
    background-size: cover;
    object-fit: cover;
    position: relative;
    
}
.shoerack .item13{
    background-image: url("img/8.jpg");
    background-size: cover;
    object-fit: cover;
    position: relative;
    
}
.shoerack .item14{
    background-image: url("img/dd.jpg");
    background-size: cover;
    object-fit: cover;
    position: relative;
    
}

.lastgrid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr  1fr 1fr;
    /* grid-template-rows: 1fr 1fr 1fr 1fr; */
     /* background-color: rgb(255, 255, 255); */
    /* height: 350px; */
    padding: 0px 60px;
    /* margin-bottom: 30px; */
    gap: 30px;
    padding-bottom: 40px;
    overflow-x: scroll;
    overflow-y: hidden; 
}
.lastgrid span{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 900;
}
.lastp{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: white;
    padding: 70px 0px;
}
.lastp h1{
    font-family: 'Times New Roman', Times, serif;
    font-weight: 900;
    text-align: center;

}
.lastp p{
    text-align: center;
    word-spacing: 2px;
    font-size: 20px;
}
.lastp .k,.l{
    height: 50px;
    width: 100px;
}
.footer1{
    display: grid;
    grid-template-columns: .5fr 1fr 1fr 1fr 1fr;
    background-color: white;
}
.fontt{
    text-transform: capitalize;
}

.news{
    display: flex;
    background-color: #ede734;
    justify-content: center;
    align-items: center;
    padding: 30px;
    gap: 20px;
}
.news button{ background-color: black;
    display: flex;
    align-items: center;
    color: white;
    border:  5px solid rgb(0, 0, 0);
    /* border-style: double; */
    
    /* height: 30px; */
}
.lastfoot{
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    padding: 40px 0px;
    
}
.lastfoot li{list-style: none;
font-family: 'Courier New', Courier, monospace;}
.lastfoot h4{
    font-size: 20px;
    font-weight: 900;
}
.terms{background-color: #282c31;
display: flex;
justify-content: center;
padding: 30px;    
}
.terms li{list-style: none;
display: inline;
}